<%- include('./templates/header'); %>

<h1 class="text-center my-3">Editar</h1> 

    <div class="container d-flex justify-content-center">

        <form action="/usuarios" method="POST" class="w-50 bg-white p-5 mt-3">

            <div class="mb-3 text-center">
                <label for="exampleInputEmail1" class="form-label"><b>id Usuario:</b> <%= usuario.id %></label>
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nombre Completo</label>
                <input type="text" class="form-control" name="nombre" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= usuario.nombre %>">
            </div>

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
              <input type="email" class="form-control" name="correo" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= usuario.correo %>">
              <div id="emailHelp" class="form-text">correo electronico valido.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <input type="text" class="form-control" name="password" id="exampleInputPassword1" value="<%= usuario.password %>">
            </div>
            <button type="submit" class="btn btn-primary w-100 my-2">Actualizar</button>
            <button type="submit" class="btn btn-danger w-100 my-2">Eliminar</button>
        </form>

    </div>

<%- include('./templates/footer'); %>