<%- include('./templates/header'); %>

    <div class="container">

        <h1 class="text-center my-3">Lista Usuarios</h1>

        <table class="table table-striped mt-5">
          <thead>
            <tr>
              <th scope="row" class="text-center">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Correo</th>
              <th scope="col">Contraseña</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>

          <% if (ArrayUsuarios.length > 0) { %>

            <% ArrayUsuarios.forEach(usuario => { %>

              <tr>
                <th scope="row" class="text-center"><%= usuario.id %> </th>
                <td><%= usuario.nombre %> </td>
                <td><%= usuario.correo %> </td>
                <td><%= usuario.password %> </td>
                <td><a href="/registrate" class="btn btn-outline-success">Editar</a></td>
                <td><a href="/registrate" class="btn btn-outline-danger">Eliminar</a></td>
              </tr>
              
            <% }); %>
            
          <% } %> 
                                         
          </tbody>
        </table>
    </div>

<%- include('./templates/footer'); %>